body {background-color: black;
    margin: 0px;
    padding: 0px;
}
html {
  scroll-behavior: smooth;
}

@font-face{
    font-family: "Kingthings_Foundation";
    src: url(font/Kingthings_Foundation.ttf);
}

@font-face{
  font-family: "HelveticaNeueLTPro-Lt";
  src: url(font/HelveticaNeueLTPro-Lt.otf);
}

@font-face{
    font-family: "HelveticaNeueLTPro-Bd";
    src: url(font/HelveticaNeueLTPro-Bd.otf);
}

@font-face{
    font-family: "HelveticaNeueLTPro-BdOu";
    src: url(font/HelveticaNeueLTPro-BdOu.otf);
}

@font-face{
    font-family: "HelveticaNeueLTPro-Hv";
    src: url(font/HelveticaNeueLTPro-Hv.otf);
}

@font-face{
    font-family: "HelveticaNeueLTPro-MdEx";
    src: url(font/HelveticaNeueLTPro-MdEx.otf);
}

h1 {font-family: 'Kingthings_Foundation', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 10vw;
    text-align: center;
    margin: 24px auto 12px auto;
    color: #FFFFFF;
}

h2 {font-family: 'Kingthings_Foundation', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 5vw;
    text-align: left;
    padding: 24px 0 0px 0;
    margin: 0px auto 0px auto;
    color: #FFFFFF;
    transition: 0.3s;
}
h2:hover {
    padding:0px 0 30px 0;
}
h3 {font-family: 'Kingthings_Foundation', 'Times New Roman', Times, serif;
    width: 80vw;
    font-weight: normal;
    font-size: 72px;
    text-align: left;
    margin: 120px auto 60px auto;
    color: #FFFFFF;
}
h4 {font-family: 'HelveticaNeueLTPro-Bd', 'Helvetica Neue Lt Pro', Arial, serif;
    font-size: 3ch;
    margin: 60px auto 0px auto;
    color: #FFFFFF;
}
h5 {font-family: 'HelveticaNeueLTPro-Bd', 'Helvetica Neue Lt Pro', Arial, serif;
    font-size: 2ch;
    margin: 40px auto 0px auto;
    color: #FFFFFF;
    font-weight: normal;
}
.jaune{
	font-family: 'HelveticaNeueLTPro-BdOu';
	color: #ECC81A;
}
.video {
    display: block;
    margin: 50px auto 10px auto;
    object-fit: cover;
    width: 80vw;
    height: 50vh;
}
.nounderline {
  text-decoration: none;
}
.centerimage {
    margin: 50px auto 20px auto;
    display: block;
    width: 40vw;
    border: 2px solid #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    top: 242px;
    display: flex;
    flex-wrap: wrap;
}

.container2{
	flex-grow: 4;
	width: 300px;
	display: flex;
    flex-wrap: wrap;
}
.container3{
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex-grow: 4;
    flex-basis: auto;
    margin-left: 26px;
    margin-right: 26px;
    width: 148px;
}
.item2 {
    flex-grow: 0;
    flex-basis: auto;
    width: 18vw;
}
.line1 {width: 85vw;
    height: 0px;
    left: 154px;
    top: 242px;
    margin-top: 0;
    border: 2px solid #FFFFFF;
}

.line2 {width: auto;
    border: 1px solid #FFFFFF;
    margin-top: 6px;
}
.p0 {
    font-size: 18px;
    color: #FFF;
    font-family: "HelveticaNeueLTPro-Lt", Helvetica, sans-serif ;
}
.p1 {
	font-size: 14px;
    color: #FFF;
    font-family: "HelveticaNeueLTPro-Lt", Helvetica, sans-serif ;
}
.p2 {
    font-size: 14px;
    color: #fff;
    font-family: 'HelveticaNeueLTPro-MdEx', Helvetica, sans-serif;
    margin-bottom: 20px;
}
a:link, a:visited{
    color: #fff;
    cursor: url('image/pointer.svg'), auto;
}

ul{
    margin: 0;
    padding: 0;
}
.cent {width: 40vw;
    margin: 20px auto 40px auto;
    text-align: left;
	font-size: 24px;
    color: #FFF;
    font-family: "HelveticaNeueLTPro-Lt", Helvetica, sans-serif ;
}
#maq1{
    height: 22.5vw;
    background-repeat: no-repeat;
    background-image: url(image/nofilter.jpg);
    background-size: 100% 100%;
    border: 2px solid #FFFFFF;
    margin: 0px;
}
#maq2{
    width:40vw;
    position: absolute;
    animation: mouseout 5s infinite;
    -webkit-animation: mouseout 5s infinite;;
}
@keyframes mouseout {
    0% {clip: rect(0,0px,41.0625vw,0);}
    50% {clip: rect(0,40vw,41.0625vw,0);}
    100% {clip: rect(0,0px,41.0625vw,0);}
}
@-webkit-keyframes mouseout {
    0% {clip: rect(0,0px,41.0625vw,0);}
    50% {clip: rect(0,40vw,41.0625vw,0);}
    100% {clip: rect(0,0px,41.0625vw,0);}
}
@keyframes mousein {
    0% {position: absolute;}
}
@-webkit-keyframes mousein {
    0% {position: absolute;}
}

.item3 {
	width: 15vw;
}
.j {
	color: #ECC81A;
}
.b {
	color: rgba(255,255,255,0.5);
}
.button {
    transition: 0.3s;
    padding: 24px 0 0px 0;
}
.button:hover {
    padding:0px 0 30px 0;
}

@media only screen and (max-width: 999.5px) {
    .cent{
        width: 73vw;
    }
    .container3{
        flex-grow: 4;
        width: 73vw;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .item2 {
        width: 32vw;
    }
	.item3 {
		width: 34vw;
	}
    #maq1{
	height:41.0625vw;
    }
    #maq2{
	width:73vw;
    }
    @keyframes mouseout {
    0% {clip: rect(0,0px,41.0625vw,0);}
    50% {clip: rect(0,73vw,41.0625vw,0);}
    100% {clip: rect(0,0px,41.0625vw,0);}
    }
    @-webkit-keyframes mouseout {
        0% {clip: rect(0,0px,41.0625vw,0);}
        50% {clip: rect(0,73vw,41.0625vw,0);}
        100% {clip: rect(0,0px,41.0625vw,0);}
        }
    .centerimage {
        margin: 50px auto 20px auto;
        width: 73vw;
    }
  }
@media only screen and (max-width: 499.5px) {
    .item2 {
		width: 70vw;
    }
	.item3 {
		width: 70vw;
	}
}
